{# <div x-data="{darkmode: true,lightmode: false}" id="rig-darkmode">
				<span x-show="darkmode"><button @click="darkmode = false,lightmode = true" id="dark-toggle">Dark Mode</button></span>

				<span x-show="lightmode"><button @click="darkmode = true,lightmode = false" id="light-toggle">Light Mode</button></span>

</div> #}