@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}