<form id="filter" class="block overflow-hidden rig-product-filter" data-js-form="filter">

<div class="mb-4 rig-pf-search">
<label class="block text-gray-700 text-sm font-bold mb-2" for="product_keyword">{{keyword_filter_title}}</label>
<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="rig_product_search_term" name="rig_product_search_term" type="text" placeholder="{{keyword_filter_placeholder}}">
</div>

<div class="mb-4">
<p class="block text-gray-700 text-sm font-bold mb-4 rig-pf-slider-title">{{price_filter_title}}<br><span id="price_range_view"></span></p>
<div class="mb-4" id="rig-price-slider"></div>
</div>

<div class="mb-4 rig-pf-category"><label for="product_categories" class="block text-gray-700 text-sm font-bold mb-2">{{category_filter_title}}</label>
<select name="rig_product_categories" id="rig_product_categories" class="rig-pf-select">
<option disabled selected value> -- Select Category -- </option>
{{category_list}}
</select></div>

<div class="mb-4 rig-pf-short"><label for="meta_key" class="block text-gray-700 text-sm font-bold mb-2">{{sales_filter_title}}</label>
<select name="rig_product_meta_key" id="rig_product_meta_key" class="rig-pf-select">
<option disabled selected value> -- Select Shorting -- </option>
{{meta_key}}
</select></div>

<input type="hidden" id="price_range_start" name="price_range_start" value="{{price_filter_range_start}}">
<input type="hidden" id="price_range_end" name="price_range_end" value="{{price_filter_range_end}}">

<button id="short_button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded rig-pf-button">{{filter_button}}</button>

<input type="hidden" name="action" value="product_short">

</form>