<template>
    <div class="bg-white drop-shadow-lg m-16 p-8">

        <h1 class="text-2xl font-semibold mt-4 ml-6">Template Library</h1>
        <div class="mt-6 ml-6 p-2 border border-indigo-600 rounded">
          <div class="flex">
          <div class="mr-4"><vs-button square block color="#0D59EF" @click="templateType = 'rig_template'" class="m-4">Regular Templates</vs-button></div>
          <div class="mr-4"><vs-button square block color="#0D59EF" @click="templateType = 'rig_block'" class="m-4">Blocks</vs-button></div>
          <div class="mr-4"><vs-button square block color="#0D59EF" @click="templateType = 'rig_leads'" class="m-4">Lead Generation</vs-button></div>
          <div class="mr-4"><vs-button square block color="#0D59EF" @click="templateType = 'rig_leads'" class="m-4">WooCommerce Templates</vs-button></div>
          <div class="mr-4"><vs-button square block color="#0D59EF" @click="templateType = 'rig_leads'" class="m-4">WooCommerce Blocks</vs-button></div>
          <div class="mr-4"><vs-button square block color="#0D59EF" @click="templateType = 'rig_leads'" class="m-4">Education</vs-button></div>
          <div class="mr-4"><vs-button square block color="#0D59EF" @click="templateType = 'rig_coming_soon'" class="m-4">Coming Soon</vs-button></div>
          <div class="mr-4"><vs-button square block color="#0D59EF" @click="templateType = 'rig_404_pages'" class="m-4">404 Pages</vs-button></div>
          </div>
        </div>
        
        <div class="grid grid-cols-3 mt-8 mb-4">


            <div class="m-4" v-for="item in info">
            <div v-if="item.type === templateType" class="w-full rounded overflow-hidden shadow-lg">
            
            <Transition><div><img :src="item.thumbnail" class="object-cover object-top h-80 w-full"></div></Transition>
            
            <div class="px-6 py-4">

              <p class="font-semibold text-base mt-2 mb-2 text-center">{{ item.name }}</p>

              <div class="flex justify-center w-full px-6 pt-4 pb-2">
                <vs-button square block color="#0D59EF" @click="import_demo($event)" :id="item.filepath" class="p-6 m-4">Import Demo</vs-button>
                <vs-button square block color="#F88D25" @click="image_modal(item.thumbnail)" :id="item.filepath" class="p-6 m-4">Preview</vs-button>
            </div>
              
            </div>

            </div>
            </div>

        </div>

   </div>
</template>


<script>
import Vue from 'vue';
import Vuesax from 'vuesax'
import axios from 'axios';
import 'vuesax/dist/vuesax.css';
import Swal from 'sweetalert2';

// Vue.use(VueLazyload)

Vue.use(Vuesax, {
    // options here
  });

export default {
    name: "App",
    data() {
        return {
        info: null,
        templateType: 'rig_template'
        }
    },
   methods: {
    import_demo(event) {
        var url = event.currentTarget.id;
        console.log(url);
        // var url = 'https://phpstack-506212-2789536.cloudwaysapps.com/storage/rig_elements/rig_template/lbele_saas.json';
        jQuery.get(url, function(data, status){
            // console.log(data);
            var demodata = data;

            console.log(status);
    
            Swal.fire({
              title: 'Importing Template',
              text: 'Please Wait',
              timer: 150000,
              // timerProgressBar: true,
              showConfirmButton: false,
              showDenyButton: false,
              showCancelButton: false,
              showCloseButton: false,
              allowOutsideClick: false,
              didOpen: () => {
                Swal.showLoading()
              },
            });
    
            jQuery.post(
                api_settings.ajaxurl,
                {
                    'action': 'rig_importer',
                    'demodata': demodata,
                    'demourl': url
                },
                function(data, status){
                // console.log(demodata);
                Swal.close();

                Swal.fire({
                icon: 'success',
                title: 'Congratulation!',
                text: 'Template Imported Sucessfully',
                allowOutsideClick: false,
              })
                // console.log(data);
                // console.log(status);
              }).fail(function(jqXHR){
                Swal.close();

                Swal.fire({
                icon: 'error',
                title: 'Import Failed',
                text: jqXHR.statusText + '. Please contact with your hosting provider.',
                footer: 'Error Code: ' + jqXHR.status,
                allowOutsideClick: false,
              })
              });
    
            // console.log(status);
          });
    
    },
    image_modal($thumbnail) {
      
      Swal.fire({
      imageUrl: $thumbnail,
      width: 800,
      padding: '1em',
      heightAuto: true,
      showCancelButton: false,
      showConfirmButton: false,
      showCloseButton: false,
    });

    },
   },
   mounted () {
    axios
      .get('https://api.codember.com/api/rig-elements/elementor/template-library')
      .then(response => (this.info = response.data))
  } 
}

</script>