<template>

<div class="bg-white drop-shadow-lg m-16 p-8">

<div class="flex mt-8 mb-4">

<div><h1 class="text-2xl font-semibold">Leads (Beta)</h1></div>
<div class="ml-8"><vs-button square block color="#0D59EF" @click="export_leads()" class="p-6">Export Leads</vs-button></div>

</div>


<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    ID
                </th>
                <th scope="col" class="py-3 px-6">
                    Name
                </th>
                <th scope="col" class="py-3 px-6">
                    Email
                </th>
            </tr>
        </thead>
        <tbody v-for="lead in leads">
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{lead.id}}
                </th>
                <td class="py-4 px-6">
                    {{lead.name}}
                </td>
                <td class="py-4 px-6">
                    {{lead.email}}
                </td>
            </tr>
        </tbody>
    </table>
</div>


</div>

</template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax'
import axios from 'axios';
// const jsonexport = require("jsonexport/dist")
// var FileSaver = require('file-saver');
import 'vuesax/dist/vuesax.css';


Vue.use(Vuesax, {
    // options here
  });



export default {
    name: "Leads",
    data() {
        return {
        leads: null,
        }
    },
   methods: {
    export_leads() {
        var data = this.leads
        jsonexport(data, function(err, csv){
        if (err) return console.error(err);
        var blob = new Blob([csv], {type: "text/csv;charset=utf-8"});
        FileSaver.saveAs(blob, "rig_leads.csv");
        // console.log(csv);
    });
    }
   },
   mounted () {
    axios
      .get('/wp-json/rig-elements/v1/rig-leads')
      .then(response => (this.leads = response.data))
  } 
}

</script>