<template>
    <div class="flex">
    <div class="m-auto w-2/5 bg-white drop-shadow-lg mt-24 p-20">

    <div class="w-full">
      <div class="mb-6">
            <label for="text" class="text-2xl">License Key</label>
            <input type="text" id="license-key" name="license-key" class="w-full mt-4 p-4" v-model="licensekey">
        </div>
        <vs-button square block size="large" color="#0D59EF" @click="activate()" class="p-6">Activate License</vs-button>    
        <p class="mt-4 text-center text-lg">To get the license key please click to <a class="font-bold text-blue-600" href="https://api.codember.com/activate-license" target="_blank">Get License Key</a></p>
        <p class="mt-4 text-center text-lg">Please check the video that how to activate <strong>Rig Elements</strong></p>
        <div class="flex justify-center mt-2">
        <vs-button square size="large" color="#0D59EF" @click="check_video()" class="p-6">Check Video</vs-button>
        </div>
    </div>

    </div>
    </div>
    </template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax'
import axios from 'axios';
import 'vuesax/dist/vuesax.css';
import Swal from 'sweetalert2';


Vue.use(Vuesax, {
    // options here
  });


  export default {
    name: "License",
    data() {
        return {
        licensekey: '',
        licensedata: null,
        }
    },
   methods: {
    activate(){

    const loading = this.$vs.loading({
            text: 'Activating License Key...',
          });

    var license_key = this.licensekey;
    var url = 'https://api.codember.com/api/check-license/' + license_key;

    jQuery.get(url, function(data) {
      if (data['length'] == 0){
        loading.close();
         Swal.fire({
            icon: 'error',
            title: 'License Not Found',
            text: 'Please check your license key. Or contact support.',
            confirmButtonText: 'Ok',
            allowOutsideClick: false,
          })
      }

      else {
        var lkey = data[0]['license_key'];

        if (lkey == license_key){
          var total_sites = data[0]['total_sites'];
          var used_sites = data[0]['used_sites'];
          
          if(used_sites != total_sites) {
            var update_url = 'https://api.codember.com/api/update-license/' + license_key;
                jQuery.post(update_url,function(data, status){
                        jQuery.post(
                        activator_controls.ajaxurl, {
                            'action': 'license_manager',
                            'license_type': data[0]['license_type'],
                            'activation': data[0]['license_status'],
                            'total_sites': data[0]['total_sites'],
                            'used_sites': data[0]['used_sites'],
                            'license_status': data[0]['license_status'],
                            'license_key': data[0]['license_key'],
                        },
                    function(data, status){
                        loading.close();
                        Swal.fire({
                        icon: 'success',
                        title: 'Congratulation!',
                        text: 'License Activated',
                        confirmButtonText: 'Ok',
                        allowOutsideClick: false,
                      }).then((result) => {
                        if (result.isConfirmed) {
                          window.location.replace("/wp-admin/admin.php?page=rig-elements-license-details");
                        }
                      });
                  });
                  

          });
          }

          else {
            Swal.fire({
            icon: 'error',
            title: 'License Limit Reached',
            text: 'You have used ' + used_sites + '/' + total_sites + ' of your license. Please purchase upgrade plan or decative some of your license.',
            allowOutsideClick: false,
          })
          }
        }

      }
          
    });
    
    
    },

    check_video() {
      Swal.fire({
      html: '<iframe width="1140" height="600" src="https://www.youtube.com/embed/YXbwtTbtPu4" allowfullscreen></iframe>',
      width: 1200,
      showCloseButton: false,
      showCancelButton: false,
      showConfirmButton: false,
    })

    },
    
   },
   mounted () {
    
  },
//   onSubmit(e) {
//     e.preventDefault();
//     this.form.submit('post', '')
//         .then( response => console.log(response.data));
//   }
}

</script>