<template>

<div class="flex">
    <div class="m-auto w-3/6 bg-white drop-shadow-lg mt-24 p-20">

        <div class="w-full">
            <h1 class="text-2xl text-center font-bold mb-4 mt-4">License Details</h1>

            <div class="grid grid-cols-2 mt-4 mb-4 w-full">
                <div class="w-full">
                <div class="border border-indigo-600 m-4 p-4">
                <p class="font-semibold mb-4 text-lg">License Status: <span class="font-normal">{{licensestatus}}</span></p>
                <p class="font-semibold text-lg">License Type: <span class="font-normal">{{licensetype}}</span></p>
                </div>
            </div>

            <div class="w-full">
                <div class="border border-indigo-600 m-4 p-4">
                <p class="font-semibold mb-4 text-lg">Total Sites: <span class="font-normal">{{totalsites}}</span></p>
                <p class="font-semibold text-lg">Used Sites: <span class="font-normal">{{usedsites}}</span></p>
                </div>
            </div>

            </div>
       
            <h2 class="text-xl text-center font-bold mt-8 mb-12">License Key: <span class="bg-slate-200 m-2 p-4 text-sm font-normal">{{licensekey}}</span></h2>
            <vs-button square block size="large" color="#0D59EF" @click="deactivate()" class="p-6">Deactive License</vs-button>
            <p class="mt-12 text-center font-bold text-red-500">Note: Please save your License Key carefully before deactive license.</p>
        </div>
    
</div>

</div>
    </template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax'
import 'vuesax/dist/vuesax.css';
import Swal from 'sweetalert2';


Vue.use(Vuesax, {
    // options here
  });


  export default {
    name: "LicenseDetails",
    data() {
        return {
        licensestatus: null,
        licensetype: null,
        totalsites: null,
        usedsites: null,
        licensekey: null,
        }
    },
    methods: {
    deactivate(){
        const loading = this.$vs.loading({
            text: 'Deactivating License Key...',
          });

        var license_key = activator_controls.license_key;
        var update_url = 'https://api.codember.com/api/deactive-site/' + license_key;
                jQuery.post(update_url,function(data, status){
                        jQuery.post(
                        activator_controls.ajaxurl, {
                            'action': 'remove_activation',
                            // 'license_type': data[0]['license_type'],
                            // 'activation': data[0]['license_status'],
                            // 'total_sites': data[0]['total_sites'],
                            // 'used_sites': data[0]['used_sites'],
                            // 'license_status': data[0]['license_status'],
                            // 'license_key': data[0]['license_key'],
                        },
                    function(data, status){
                        loading.close();
                        Swal.fire({
                        icon: 'success',
                        title: 'Done!',
                        text: 'License Deactivated',
                        allowOutsideClick: false,
                      }).then((result) => {
                        if (result.isConfirmed) {
                          window.location.replace("/wp-admin/admin.php?page=rig-elements-license-manager");
                        }
                      });
                  });
                  

          });
      }
    },
    mounted() {
        this.licensestatus = activator_controls.license_details;
        this.licensetype = activator_controls.license_type;
        this.totalsites = activator_controls.total_sites;
        this.usedsites = activator_controls.used_sites;
        this.licensekey = activator_controls.license_key;
    }
  }
</script>