{% if elementor_preview_mode == null %}
    <div class="product_short_description">{{product_short_description}}</div>
{% else %}
    <div class="product_short_description">{{preview_short_description}}</div>
{% endif %}


