@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-lg;
    }
    a {
      @apply text-blue-600 underline;
    }
  }

.rig-pf-select {
    @apply block
    w-full
    px-3
    py-1.5
    text-base
    font-normal
    text-gray-700
    bg-white bg-clip-padding bg-no-repeat
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    m-0    
}

.rig-card-avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    }

/* .rig-card-button {
    margin: auto;
    margin-top: 10px;

} */

/* #light-toggle {
    display: none;
} */

.dark-button {
    display: none;
}

.map {
    height: 400px;
    width: 100%;
  }

  /* .logo-column {
      max-width: 50%;
  } */


#rig-price-slider {
    height: 10px;
}

#rig-price-slider .noUi-connect {
    background: #c0392b;
}

#rig-price-slider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px;
    border-radius: 9px;
}


.nav-menu-container {
    @apply container flex flex-wrap justify-between items-center mx-auto;
}

#dropdown-items {
    display: none;
}