<div class="grid mobile:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-1 overflow-hidden shadow-md rig-card">

  {% if enable_image == 'enable_image' %}
    <a href="{{card_image_url.url}}"><img class="w-full rig-card-image" src="{{card_image.url}}" alt=""></a>
    {% endif %}
  
  <div class="block p-4 rig-card-content">

    {% if enable_avatar == 'enable_avatar' %}
    <div class="flex rig-card-avatar">
    
    <div class="block">
    <img class="w-full h-full m-auto" src="{{card_avatar_image.url}}">
    <div class="text-sm rig-card-avatar-content">
        {% for data in card_avatar_data %}
        <p class="text-gray-900 text-center mt-4 leading-none">{{ data.avatar_content }}</p>
        {% endfor %}
      </div>
      </div>

      </div>
    {% endif %}

    {% if enable_title == 'enable_title' %}
    <h2 class="font-bold text-xl mb-2 rig-card-title">{{card_title}}</h2>
    {% endif %}

    {% if enable_description == 'enable_description' %}
    <div class="text-gray-700 text-base rig-card-description">{{card_description}}</div>
    {% endif %}

    {% if enable_button == 'enable_button' %}
    <div class="flex mt-4 rig-card-button"><a href="{{card_button_url.url}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{card_button_text}}</a></div>
    {% endif %}

  </div>
  
</div>