<div class="max-w-sm w-full lg:max-w-full lg:flex overflow-hidden shadow-md border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r rig-card">

    {% if enable_image == 'enable_image' %}
    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden rig-card-image" style="background-image: url('{{card_image.url}}')"></div>
    {% endif %}

    <div class="p-4 flex flex-col justify-between leading-normal rig-card-content">

    <div class="mb-2">
    {% if enable_title == 'enable_title' %}
    <h2 class="text-gray-900 font-bold text-xl mb-2 rig-card-title">{{card_title}}</h2>
    {% endif %}

    {% if enable_description == 'enable_description' %}
    <div class="text-gray-700 text-base rig-card-description">{{card_description}}</div>
    {% endif %}
    </div>

    {% if enable_avatar == 'enable_avatar' %}
    <div class="flex items-center rig-card-avatar">
      <a href="{{card_image_url.url}}"><div class="w-10 h-10 mr-4"><img src="{{card_avatar_image.url}}"></div></a>
      <div class="text-sm rig-card-avatar-content">
        {% for data in card_avatar_data %}
        <div class="text-gray-900 text-center mt-4 leading-none">{{ data.avatar_content }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if enable_button == 'enable_button' %}
    <div class="flex rig-card-button"><a href="{{card_button_url.url}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{card_button_text}}</a></div>
    {% endif %}

  </div>

</div>